<a href="https://colab.research.google.com/github/ChristopherDeligos/CPEN-21A-ECE-2-2/blob/main/Loop_Statment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [1]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

###Break Statement

In [2]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print (x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [3]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
 
  if x=="Thursday":
    break 
print(x)

Thursday

###Looping through string

In [4]:
for x in "week":
  print(x)

w
e
e
k

###The Range () Function

In [5]:
for x in range(6):
 print(x)

0
1
2
3
4
5

In [6]:
0
1
2
3
4
5
for x in range(2,7):
 print(x)

2
3
4
5
6

###Nested Loops

```
# This is formatted as code
```

In [7]:
adjective = ["red","big","tasty"]
fruits= ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##Phython While Loop

In [8]:
i=1
while i<6:
  print(i)
  i+=1 #Assignment operator fot addition

1
2
3
4
5

###The Break Statement

In [9]:
i=1
while i<6:
  print(i)
  if i ==3:
   break
  i+=1 #Assignment operator fot addition

1
2
3

###The Continue Statement

In [10]:
i=0
while i<6:
 i+=1
 if i ==3:
    continue
 print(i)

1
2
4
5
6

###The Else Statement

In [11]:
i=1
while i<6:
  print(i)
  i+=1

else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6


###Application 1

In [12]:
#Create a Phtyon program that displays Hello 0 to Hello 10
hello= ["Hello"]
number= ["0","1","2","3","4","5","6","7","8","9","10"]


for x in hello:
  for y in number:
    print(x,y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

###Application 2

In [13]:
#Create a Phyton program that displays a integers less than 10 but not less than 3
for x in range(3,10):
 print(x)

3
4
5
6
7
8
9